/* 폰트 설정 */
@font-face {
  font-family: 'GMarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'GMarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'GMarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

/* 기본 CSS 설정*/
*{
  font-family: 'GMarketSans', sans-serif !important;
  color: #3d181a;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5 {
  font-family: "Pretendard", sans-serif;
  font-weight: 900;
  list-style-type: none;
  margin: 1.875rem 0 1.25rem;
}
h1 {
  margin-top: 0;
}
h2 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.625rem 0 0.313rem;
}
span {
  font-weight: 300;
  font-size: 0.875rem;
}
strong {
  font-weight: 700;
  font-size: 1rem;
}
dl {
  display: flex;
  margin-bottom: 0.625rem;
}
dt {
  width: 100px;
  min-width: 100px;
  max-height: 20.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1.25rem;
  padding: 0.156rem 0;
  margin-bottom: 0.313rem;
  margin-right: 0.625rem;
  background-color: #ffd649;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
table img {
  width: 100%;
}

/* 자주 쓸 공용 Class 설정*/
.w100 {
  width: 100%;
}
.flex {
  display: flex;
}
.flex.wrap {
  flex-wrap: wrap
}
.pointStrong {
  display: inline-block;
  font-size: 1.188rem;
  font-weight: 400;
  background-color: #ffd649;
  margin-bottom: 1.25rem;
}
.side_info {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
/* root 영역 */
#root {
  display: flex;
}

/* Header 영역 */
header {
  position: sticky;
  max-width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFF;
  padding: 1.25rem;
}
header > div {
  padding: 1.25rem 0.625rem;
}
header ~ main {
  position: sticky;
}
header button {
  display: flex;
  border: none;
  background-color: transparent;
}
header a {
  display: block;
  color: black;
  text-decoration: none;
  white-space: nowrap;
  padding: 1.25rem 0;
}
nav {
  display: flex;
  flex-direction: column;
}
nav button {
  justify-content: end;
}
header.open {
  min-width: 197px;
}
/* main 공용 설정 */
main {
  width: calc(100% - 65px)
}
header.open + main {
  width: calc(100% - 197px);
}
/* section 공용 설정 */
section {
  min-height: 100vh;
  box-shadow: 0px 0px 0.313rem #e0e0e0;
}
section > div {
  padding: 5rem;
}
section .title {
  border-bottom: 1px solid #ffd649;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
.link_icon {
  display: inline-flex;
  justify-content: center;
}
.link_icon a {
  display: inline-block;
  font-size: 1.25rem;
  margin-left: 0.313rem;
}
.link_icon img {
  width: 1.25rem;
}
section .title .side_info * {
  font-size: 0.875rem;
  margin: 0.313rem 0;
  text-align: right;
}
.project > ul > li li,
.skills > ul > li li {
  text-indent: -0.625rem;
  margin-bottom: 0.313rem;
}
.project > ul > li li:last-child,
.skills > ul > li li:last-child {
  margin-bottom: 0;
}
.project .preview {
  display: flex;
  margin-bottom: 1.875rem;
}
.project .preview li {
  width: 25%;
}
.project .preview img {
  width: 100%;
}
/* section_1 영역 : [About Me] CSS */
.person {
  text-align: center;
}
.person > img {
  max-width: 250px;
}
.person h1 {
  font-size: 1.875rem;
  margin: 1.25rem 0 0.625rem;
}
.competency {
  width: calc(100% - 330px);
  padding-left: 5rem;
  margin-top: -1.875rem;
}
.competency ul {
  flex-direction: column;
  max-height: 550px;
}
.competency span {
  display: inline-block;
  margin: 0.313rem 0 0.313rem;
}
.competency > ul > li:nth-last-child(1),
.competency > ul > li:nth-last-child(2) {
  margin-left: -100px;
}
.competency li:last-child span {
  margin-left: 0.938rem;
}
.competency li:last-child strong {
  font-weight: 400;
  margin-left: 0.625rem;
}
.competency li li:not(strong, span) {
  color: #ffd649;
}
.introduction {
  margin-top: 3.125rem;
}
.introduction p {
  line-height: 1.875rem;
}

/* section_6 영역 : [야놀자 리서치] CSS */
#section_6 table {
  margin-top: 0.313rem;
  margin-bottom: 1.25rem;
}

/* 반응형 CSS 조절 */

@media (max-width:1350px) {
  .open + main .person > img {
    width: 150px
  }
  .open + main .side_info {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .open + main .competency {
    width: calc(100% - 215px);
    padding-left: 3.75rem;
  }
  .open + main .pointStrong {
    margin-bottom: 0.625rem;
  }
  .open + main section .title .side_info * {
    margin: 0 0.625rem 1.25rem 0;
    padding: 0.313rem 0.625rem;
    background-color: #e0e0e0;
    border-radius: 1.25rem;
  }
}

@media (max-width: 1220px) {
  .pointStrong {
    margin-bottom: 0.625rem;
  }
  .person > img {
    width: 150px;
  }
  .competency {
    width: calc(100% - 235px);
    padding-left: 5rem;
  }
  section .title .side_info {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  section .title .side_info * {
    margin: 0 0.625rem 1.25rem 0;
    padding: 0.313rem 0.625rem;
    background-color: #e0e0e0;
    border-radius: 1.25rem;
  }
  .competency > ul.flex {
    flex-wrap: nowrap;
    max-height: fit-content;
  }
  .competency > ul > li:nth-last-child(1),
  .competency > ul > li:nth-last-child(2) {
    margin-left: 0;
  }
}

@media (max-width: 920px) {
  section > div {
    padding: 3.75rem;
  }
  .open + main #section_1 > div {
    justify-content: center;
  }
  .open + main .person > img {
    width: 250px
  }
  .open + main .competency {
    width: 100%;
    padding-left: 0;
    margin-top: 3.75rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  header {
    width: 100%;
    max-width: 100vw;
    position: fixed;
    z-index: 1;
    height: auto;
    background-color: #fff;
    padding: 1.125rem;
    box-shadow: 0 0.188rem 0.313rem #f1f1f1;
    box-sizing: border-box;
  }
  header.open + main,
  main {
    width: 100%;
    margin-top: 3.469rem
  }
  .open {
    max-width: 100vw;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    box-sizing: border-box;
    padding: 1.125rem;
  }
  .open nav ul {
    padding: 5rem;
  }
  .open nav ul li{
    margin: 2.5rem 0;
  }
  section {
    scroll-margin-top: 3.469rem;
  }
  #section_1 > div {
    justify-content: center;
  }
  .person > img {
    width: 200px
  }
  .competency {
    width: 100%;
    padding-left: 0;
    margin-top: 3.75rem;
  }
  .badges img {
    height: 1.071rem;
  }
}
@media (max-width: 430px) {
    html {
      font-size: 12px;
    }
  dt {
    width: 80px;
    min-width: 80px;
  }
  .person > img {
    width: 150px
  }
  .competency {
    margin-top: 1.875rem;
  }
}
@media (max-width: 370px) {
  html {
    font-size: 10px;
    min-width: 320px;
  }
  dt {
    width: 60px;
    min-width: 60px;
  }
  header {
    min-width: 320px;
  }
}